<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" verbose="5">
    <parameter name="url" value="http://leaftaps.com/opentaps/"></parameter>

    <test verbose="2" preserve-order="true"
          name="C:/Users/rupab/IdeaProjects/MavenProject/src/main/java/Week5/day2/addExcelDataDynamically/BaseClass.java">
        <classes/>
    </test>
</suite>